.form__label {
    width:100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
} 

.form__field {
    padding-left: px;
}

.form__fieldset {
    border-color: hsl(204, 91%, 25%);
    border-radius: 5px;
    background-color: hsla(205, 80%, 90%, 0.199);
    border-width: 1.5px;
    box-shadow: 3px 3px 6px rgba(23, 36, 59, 0.219);
    font: hsl(204, 91%, 20%);
    font-size: 16px;
}

.form__button {
    border: none;
    background-color: hsl(204, 91%, 25%);
    color:rgb(247, 244, 244);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 3px;
}

.form__button:hover {
    background-color: hsl(204, 91%, 35%)
}

.form__button:active {
    background-color: hsl(204, 91%, 45%)
}

.form__result {
     font-size: 18px;
     font: hsl(204, 91%, 25%)
}
